In [113]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn.preprocessing import LabelEncoder
import seaborn as sns
from  sklearn.preprocessing import OneHotEncoder

In [87]:
df_train = pd.read_csv("train.csv")

In [88]:
df_train.head(10) #sample tail

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [89]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [90]:
df_train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [91]:
df_train.dtypes.unique()

array([dtype('int64'), dtype('O'), dtype('float64')], dtype=object)

In [92]:
df_train.select_dtypes(include=['O',]).columns.tolist()

['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

In [93]:
df_train.drop(['PassengerId','Cabin', 'Ticket','Name'], axis=1, inplace = True)

In [94]:
df_train.select_dtypes(include=['O',]).columns.tolist()

['Sex', 'Embarked']

In [35]:
#null values in train data

In [96]:
#Handling missing values in Train dataset 
df_train['Age'].fillna(df_train['Age'].median(), inplace = True)
df_train['Embarked'].fillna(df_train['Embarked'].mode()[0], inplace = True)
df_train['Fare'].fillna(df_train['Fare'].median(), inplace = True)

In [97]:
print('Null values in train data',df_train.isnull().sum())

Null values in train data Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [98]:
label = LabelEncoder()
df_train['Sex'] = label.fit_transform(df_train['Sex'])
df_train['Embarked'] = label.fit_transform(df_train['Embarked'])

In [99]:
df_train

     Survived  Pclass  Sex   Age  SibSp  Parch      Fare  Embarked
0           0       3    1  22.0      1      0    7.2500         2
1           1       1    0  38.0      1      0   71.2833         0
2           1       3    0  26.0      0      0    7.9250         2
3           1       1    0  35.0      1      0   53.1000         2
4           0       3    1  35.0      0      0    8.0500         2
5           0       3    1  28.0      0      0    8.4583         1
6           0       1    1  54.0      0      0   51.8625         2
7           0       3    1   2.0      3      1   21.0750         2
8           1       3    0  27.0      0      2   11.1333         2
9           1       2    0  14.0      1      0   30.0708         0
10          1       3    0   4.0      1      1   16.7000         2
11          1       1    0  58.0      0      0   26.5500         2
12          0       3    1  20.0      0      0    8.0500         2
13          0       3    1  39.0      1      5   31.2750         2
14          0       3    0  14.0      0      0    7.8542         2
15          1       2    0  55.0      0      0   16.0000         2
16          0       3    1   2.0      4      1   29.1250         1
17          1       2    1  28.0      0      0   13.0000         2
18          0       3    0  31.0      1      0   18.0000         2
19          1       3    0  28.0      0      0    7.2250         0
20          0       2    1  35.0      0      0   26.0000         2
21          1       2    1  34.0      0      0   13.0000         2
22          1       3    0  15.0      0      0    8.0292         1
23          1       1    1  28.0      0      0   35.5000         2
24          0       3    0   8.0      3      1   21.0750         2
25          1       3    0  38.0      1      5   31.3875         2
26          0       3    1  28.0      0      0    7.2250         0
27          0       1    1  19.0      3      2  263.0000         2
28          1       3    0  28.0      0      0    7.8792         1
29          0       3    1  28.0      0      0    7.8958         2
..        ...     ...  ...   ...    ...    ...       ...       ...
861         0       2    1  21.0      1      0   11.5000         2
862         1       1    0  48.0      0      0   25.9292         2
863         0       3    0  28.0      8      2   69.5500         2
864         0       2    1  24.0      0      0   13.0000         2
865         1       2    0  42.0      0      0   13.0000         2
866         1       2    0  27.0      1      0   13.8583         0
867         0       1    1  31.0      0      0   50.4958         2
868         0       3    1  28.0      0      0    9.5000         2
869         1       3    1   4.0      1      1   11.1333         2
870         0       3    1  26.0      0      0    7.8958         2
871         1       1    0  47.0      1      1   52.5542         2
872         0       1    1  33.0      0      0    5.0000         2
873         0       3    1  47.0      0      0    9.0000         2
874         1       2    0  28.0      1      0   24.0000         0
875         1       3    0  15.0      0      0    7.2250         0
876         0       3    1  20.0      0      0    9.8458         2
877         0       3    1  19.0      0      0    7.8958         2
878         0       3    1  28.0      0      0    7.8958         2
879         1       1    0  56.0      0      1   83.1583         0
880         1       2    0  25.0      0      1   26.0000         2
881         0       3    1  33.0      0      0    7.8958         2
882         0       3    0  22.0      0      0   10.5167         2
883         0       2    1  28.0      0      0   10.5000         2
884         0       3    1  25.0      0      0    7.0500         2
885         0       3    0  39.0      0      5   29.1250         1
886         0       2    1  27.0      0      0   13.0000         2
887         1       1    0  19.0      0      0   30.0000         2
888         0       3    0  28.0      1      2   23.4500         2
889         1       1    1  26.0      0      0   30.0000         0
890         0       3    1  32.0      0      0    7.7500         1

[891 rows x 8 columns]

In [100]:
df_train.select_dtypes(include=['O',]).columns.tolist()

[]

In [41]:
df_train

     Survived  Pclass  Sex   Age  SibSp  Parch      Fare  Embarked
0           0       3    1  22.0      1      0    7.2500         2
1           1       1    0  38.0      1      0   71.2833         0
2           1       3    0  26.0      0      0    7.9250         2
3           1       1    0  35.0      1      0   53.1000         2
4           0       3    1  35.0      0      0    8.0500         2
5           0       3    1  28.0      0      0    8.4583         1
6           0       1    1  54.0      0      0   51.8625         2
7           0       3    1   2.0      3      1   21.0750         2
8           1       3    0  27.0      0      2   11.1333         2
9           1       2    0  14.0      1      0   30.0708         0
10          1       3    0   4.0      1      1   16.7000         2
11          1       1    0  58.0      0      0   26.5500         2
12          0       3    1  20.0      0      0    8.0500         2
13          0       3    1  39.0      1      5   31.2750         2
14          0       3    0  14.0      0      0    7.8542         2
15          1       2    0  55.0      0      0   16.0000         2
16          0       3    1   2.0      4      1   29.1250         1
17          1       2    1  28.0      0      0   13.0000         2
18          0       3    0  31.0      1      0   18.0000         2
19          1       3    0  28.0      0      0    7.2250         0
20          0       2    1  35.0      0      0   26.0000         2
21          1       2    1  34.0      0      0   13.0000         2
22          1       3    0  15.0      0      0    8.0292         1
23          1       1    1  28.0      0      0   35.5000         2
24          0       3    0   8.0      3      1   21.0750         2
25          1       3    0  38.0      1      5   31.3875         2
26          0       3    1  28.0      0      0    7.2250         0
27          0       1    1  19.0      3      2  263.0000         2
28          1       3    0  28.0      0      0    7.8792         1
29          0       3    1  28.0      0      0    7.8958         2
..        ...     ...  ...   ...    ...    ...       ...       ...
861         0       2    1  21.0      1      0   11.5000         2
862         1       1    0  48.0      0      0   25.9292         2
863         0       3    0  28.0      8      2   69.5500         2
864         0       2    1  24.0      0      0   13.0000         2
865         1       2    0  42.0      0      0   13.0000         2
866         1       2    0  27.0      1      0   13.8583         0
867         0       1    1  31.0      0      0   50.4958         2
868         0       3    1  28.0      0      0    9.5000         2
869         1       3    1   4.0      1      1   11.1333         2
870         0       3    1  26.0      0      0    7.8958         2
871         1       1    0  47.0      1      1   52.5542         2
872         0       1    1  33.0      0      0    5.0000         2
873         0       3    1  47.0      0      0    9.0000         2
874         1       2    0  28.0      1      0   24.0000         0
875         1       3    0  15.0      0      0    7.2250         0
876         0       3    1  20.0      0      0    9.8458         2
877         0       3    1  19.0      0      0    7.8958         2
878         0       3    1  28.0      0      0    7.8958         2
879         1       1    0  56.0      0      1   83.1583         0
880         1       2    0  25.0      0      1   26.0000         2
881         0       3    1  33.0      0      0    7.8958         2
882         0       3    0  22.0      0      0   10.5167         2
883         0       2    1  28.0      0      0   10.5000         2
884         0       3    1  25.0      0      0    7.0500         2
885         0       3    0  39.0      0      5   29.1250         1
886         0       2    1  27.0      0      0   13.0000         2
887         1       1    0  19.0      0      0   30.0000         2
888         0       3    0  28.0      1      2   23.4500         2
889         1       1    1  26.0      0      0   30.0000         0
890         0       3    1  32.0      0      0    7.7500         1

[891 rows x 8 columns]

In [101]:
x = df_train.iloc[:,1:]

In [104]:
x

     Pclass  Sex   Age  SibSp  Parch      Fare  Embarked
0         3    1  22.0      1      0    7.2500         2
1         1    0  38.0      1      0   71.2833         0
2         3    0  26.0      0      0    7.9250         2
3         1    0  35.0      1      0   53.1000         2
4         3    1  35.0      0      0    8.0500         2
5         3    1  28.0      0      0    8.4583         1
6         1    1  54.0      0      0   51.8625         2
7         3    1   2.0      3      1   21.0750         2
8         3    0  27.0      0      2   11.1333         2
9         2    0  14.0      1      0   30.0708         0
10        3    0   4.0      1      1   16.7000         2
11        1    0  58.0      0      0   26.5500         2
12        3    1  20.0      0      0    8.0500         2
13        3    1  39.0      1      5   31.2750         2
14        3    0  14.0      0      0    7.8542         2
15        2    0  55.0      0      0   16.0000         2
16        3    1   2.0      4      1   29.1250         1
17        2    1  28.0      0      0   13.0000         2
18        3    0  31.0      1      0   18.0000         2
19        3    0  28.0      0      0    7.2250         0
20        2    1  35.0      0      0   26.0000         2
21        2    1  34.0      0      0   13.0000         2
22        3    0  15.0      0      0    8.0292         1
23        1    1  28.0      0      0   35.5000         2
24        3    0   8.0      3      1   21.0750         2
25        3    0  38.0      1      5   31.3875         2
26        3    1  28.0      0      0    7.2250         0
27        1    1  19.0      3      2  263.0000         2
28        3    0  28.0      0      0    7.8792         1
29        3    1  28.0      0      0    7.8958         2
..      ...  ...   ...    ...    ...       ...       ...
861       2    1  21.0      1      0   11.5000         2
862       1    0  48.0      0      0   25.9292         2
863       3    0  28.0      8      2   69.5500         2
864       2    1  24.0      0      0   13.0000         2
865       2    0  42.0      0      0   13.0000         2
866       2    0  27.0      1      0   13.8583         0
867       1    1  31.0      0      0   50.4958         2
868       3    1  28.0      0      0    9.5000         2
869       3    1   4.0      1      1   11.1333         2
870       3    1  26.0      0      0    7.8958         2
871       1    0  47.0      1      1   52.5542         2
872       1    1  33.0      0      0    5.0000         2
873       3    1  47.0      0      0    9.0000         2
874       2    0  28.0      1      0   24.0000         0
875       3    0  15.0      0      0    7.2250         0
876       3    1  20.0      0      0    9.8458         2
877       3    1  19.0      0      0    7.8958         2
878       3    1  28.0      0      0    7.8958         2
879       1    0  56.0      0      1   83.1583         0
880       2    0  25.0      0      1   26.0000         2
881       3    1  33.0      0      0    7.8958         2
882       3    0  22.0      0      0   10.5167         2
883       2    1  28.0      0      0   10.5000         2
884       3    1  25.0      0      0    7.0500         2
885       3    0  39.0      0      5   29.1250         1
886       2    1  27.0      0      0   13.0000         2
887       1    0  19.0      0      0   30.0000         2
888       3    0  28.0      1      2   23.4500         2
889       1    1  26.0      0      0   30.0000         0
890       3    1  32.0      0      0    7.7500         1

[891 rows x 7 columns]

In [102]:
y = df_train.iloc[:,0]

In [121]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = .25, random_state = 23)

In [122]:
y_test

727    1
668    0
210    0
654    0
228    0
364    0
63     0
652    0
229    0
663    0
732    0
154    0
772    0
411    0
385    0
264    0
410    0
583    0
564    0
161    1
292    0
869    1
248    1
782    0
117    0
158    0
587    1
203    0
95     0
538    0
      ..
839    1
184    1
545    0
626    0
725    0
122    0
650    0
143    0
661    0
737    1
305    1
686    0
127    1
526    1
118    0
66     1
755    1
475    0
326    0
251    0
674    0
174    0
694    0
774    1
135    0
152    0
341    1
421    0
434    0
889    1
Name: Survived, Length: 223, dtype: int64

In [123]:
log_regr = LogisticRegression()
log_regr = log_regr.fit(x_train,y_train)

In [124]:
x

array([[ 0.    ,  0.    ,  1.    , ...,  1.    ,  0.    ,  7.25  ],
       [ 1.    ,  0.    ,  0.    , ...,  1.    ,  0.    , 71.2833],
       [ 0.    ,  0.    ,  1.    , ...,  0.    ,  0.    ,  7.925 ],
       ...,
       [ 0.    ,  0.    ,  1.    , ...,  1.    ,  2.    , 23.45  ],
       [ 1.    ,  0.    ,  0.    , ...,  0.    ,  0.    , 30.    ],
       [ 0.    ,  1.    ,  0.    , ...,  0.    ,  0.    ,  7.75  ]])

In [125]:
log_regr.score(x_test,y_test)

0.7982062780269058

In [131]:
y_pred = log_regr.predict(x_test)

In [132]:
y_pred

array([1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1], dtype=int64)

array([[ 1.    ,  0.    ,  0.    , ..., 28.    ,  0.    ,  7.7375],
       [ 1.    ,  0.    ,  0.    , ..., 43.    ,  0.    ,  8.05  ],
       [ 1.    ,  0.    ,  0.    , ..., 24.    ,  0.    ,  7.05  ],
       ...,
       [ 1.    ,  0.    ,  0.    , ..., 21.    ,  0.    ,  7.7333],
       [ 0.    ,  1.    ,  0.    , ..., 50.    ,  0.    , 55.9   ],
       [ 1.    ,  0.    ,  0.    , ..., 26.    ,  0.    , 30.    ]])

In [127]:
onehotendoer_x = OneHotEncoder(categorical_features=[6])
x=onehotendoer_x.fit_transform(x).toarray()

In [129]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = .25, random_state = 23)

In [130]:
log_regr = LogisticRegression()
log_regr = log_regr.fit(x_train,y_train)

log_regr.score(x_test,y_test)

0.7982062780269058

In [137]:
from sklearn.metrics import confusion_matrix
#confusion_matrix(y_pred,y_test)
tn, fp, fn, tp  = confusion_matrix(y_pred,y_test).ravel()

In [135]:
print(tn)
print(fp)
print(fn)
print(tp)
total = len(y_pred)
total

125
25
20
53

223

In [138]:
#Accuracy: Overall, how often our classification model was correct in identfying the actual yes and no? 
#(TP+TN)/total

accuracy = (tp+tn)/total
print('accuracy of the model is',accuracy)

accuracy of the model is 0.7982062780269058

In [139]:
np.mean(y_pred==y_test)

0.7982062780269058

In [140]:
#Misclassification Rate: Overall, how often our model misclassify ?

misclassfication_rate = (fp+fn)/total
print(" misclassfication rate of the model ",misclassfication_rate)

 misclassfication rate of the model  0.20179372197309417

In [141]:
misclassfication_rate+accuracy

1.0

In [73]:
type(y_test)

pandas.core.series.Series

In [142]:
#True Positive Rate : how often our model was correct on identfying the positive class
#this is also called as "Sensitivity" or "Recall"
actual_yes = len(y_test[y_test==1])
actual_no = len(y_test[y_test==0])
print(actual_yes,actual_no)

true_positive_rate = tp/actual_yes
print("True positive rate of the model is", true_positive_rate)

78 145
True positive rate of the model is 0.6794871794871795

In [143]:
#False Positive Rate: how often our model was correct on identfying the positive class
false_positive_rate = fp/actual_no
print('false_positive_rate',false_positive_rate)

false_positive_rate 0.1724137931034483

In [144]:
#True Negative Rate: When it's actually no, how often does it predict no?
true_negative_rate = tn/actual_no
print(true_negative_rate)

0.8620689655172413

0.8356164383561644